body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 90%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: -20px -20px 20px -20px;
}

.header h2 {
  margin: 0;
  font-size: 24px;
}

.back-btn {
  width: 10px; /* or any smaller fixed width */
  padding: 5px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


.back-btn:hover {
  background-color: #007B9A;
}

.expense-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
}

.form-group input[type="number"] {
  width: 200px;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 200px;
  align-self: flex-end;
}

.submit-btn:hover {
  background-color: #45a049;
}